env/
data/
__pycache__/
sum-exercise/
assets/
class.py
class_1.py
class_1A.py
class_2.py
dash_exercise.py
dash_exercise2.py
exercise.py
exercise2.py
index.py
scripta.py
scriptb.py
data.csv
sample.csv
